.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 18px;
}

.required {
  color: #e13e3e;
}

.input {
  padding: 8px 12px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: none;
  border-radius: 12px;
  height: 40px;
  box-shadow: 1px 1px 5px 3px #cccccc33;
  border: 1px solid #fdc323;

  &:focus,
  &:focus-visible {
    outline: 1px solid #fdc323;
  }
}
