.topBar {
  width: 100%;
  height: 60px;
  padding: 16px;
  border-bottom: 2px solid #c9c9c940;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 100px;
    padding: 20px;
  }
}

.hamburgerMenu {
  display: flex;

  button {
    color: #242424;
  }
}

.logoutButton {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #fd5d5d;
  padding: 8px;

  span {
    padding-top: 4px;
  }
}
